footer {
  background-color: #fff;
  width: 320px;
  height: 250px;
  /* margin: 2225px 0 0; ¿Esto es necesario?*/
  padding: 30px 74px 45px;
  border: solid 1px #b8b8b9;
  display: block;
}
small {
  font-family: OpenSans; /*fuente aún no disponible*/
  font-size: 14px;
  text-align: center;
  color: #b8b8b9;
  height: 20px;
  width: 172px;
}
