.characteristics {
  margin: 0px;
  padding: 0px;
  background-color: $coolGrey;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-basis: fit-content;
  }

  &__title {
    text-align: center;
    color: $blueGreen;
    padding-top: 30px;
    font-family: $titleFF;
    line-height: $titleLH;
    font-size: $titleMinusFS;
    @media all and (min-width: 768px) {
      padding-right: 45px;
      padding-left: 45px;
      padding-bottom: 0;
    }
  }
  &__text {
    @include textMain;
    padding: 15px;
    text-align: center;
    @media all and (min-width: 768px) {
      padding-right: 45px;
      padding-left: 45px;
      padding-bottom: 60px;
    }
    @media all and (min-width: 1024px) {
      padding-right: 138px;
      padding-left: 138px;
    }
  }
}
