.team {
  transform: translateY(-10px);
  background-color: $white;
  padding: 0 15px 0 15px;

  &__title {
    @include titleMain;
    padding-top: 45px;
    padding-bottom: 15px;
  }
  &__text {
    @include textMain;
    padding-bottom: 30px;
    text-align: center;
    @media all and (min-width: 768px) {
      padding-right: 45px;
      padding-left: 45px;
    }
    @media all and (min-width: 1024px) {
      padding: 0 300px 60px;
    }
  }
}
