<footer>
  <section class="footer">
    <small class="copyright"> Serendipia &copy; 2021</small>
    <nav class="nav-bar">
      <ul class="ul-footer">
        <li class="nav-item"><a href="../index.html#team">Equipo</a></li>
        <li class="nav-item">
          <a href="../index.html#about-us">Quiénes somos</a>
        </li>
        <li class="nav-item">
          <a href="../contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
    <img
      class="logo-adalab"
      src="./assets/images/logo_adalab.png"
      alt="icono Adalab"
    />
  </section>
</footer>
