/
<!--<header class="header">
  <div class="team-name">
    <h1 class="header-name">Serendipia</h1>
   <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav-item"><a href="./index.html#team-section">Equipo</a></li>
      <li class="nav-item"><a href=".index.html#aboutus">Quienes somos</a></li>
      <li class="nav-item"><a href="../contact.html#contact" target="_blank">Contacto</a></li>
    </ul>
  </nav>
  </div>
 <div class="slogan">
    <h2 class="slogan-title">
      Es un hecho afortunado que ocurre cuando no lo estabas buscando.
    </h2>
  </div>
</header>-->
<header class="header">
  <div class="container-nav">
    <h1 class="header-name">Serendipia</h1>
    <nav>
      <ul class="header-nav">
        <li class="menu-header-nav"><a class="link-nav" href="./index.html#team-section">Equipo</a></li>
        <li class="menu-header-nav"><a class="link-nav" href="./index.html#aboutus">Quienes somos</a></li>
        <li class="menu-header-nav"><a class="link-nav" href="../contact.html#contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="container-img">
    <img class="img-header" src="./assets/images/bk_home.jpg" alt="imagen portada">
    <div class="slogan-box">
      <p class="slogan-text">Es un hecho afortunado que ocurre cuando no lo estabas buscando. </p>
    </div>
  </div>
</header>