<main class="page-main">
  <include
    src="./team.html"
    title="Equipo"
    text=" Esta historia empieza cuando 5 mujeres, 5 personalidades, 5 vidas distintas que ni soñaban con conocerse...
    terminan encontrándose. En el instante menos esperado, pero en el momento indicado."
    subtext="Tenemos en común que aprendimos del pasado, vivimos el presente y estamos trabajando para nuestro futuro. Buscamos el éxito y eso ocurre cuando nuestros sueños son mas grandes que nuestras excusas."
  >
  </include>

  <div class="rectangle"></div>

  <section class="section-characteristics">
    <include
      src="./character.html"
      title="Fortalezas"
      text="Ante un mismo problema siempre existen multiples soluciones. Pensamos sobre lo lejos que hemos llegado, no sobre lo que nos queda por andar. Somos valientes y emocionales. No estamos derrotadas porque... ¡aún no hemos dejamos de soñar!"
    >
    </include>
    <include
      src="./character.html"
      title="Debilidades"
      text="Nuestra aventura acaba de arrancar. El primer paso no nos va a llevar a donde queremos ir, pero nos saca de
      donde estamos. Eso requiere constancia por cada una de nosotras, tenemos que trabajarlo todos los días."
    >
    </include>
  </section>
<!---------------------------------------------------->
  <section class="aboutus" id="about-us">
    <h2 class="team-title">Quiénes somos</h2>

    <div class="whos">
      <include
        class="rocio"
        src="./who.html"
        imageLocation="./assets/images/pic_rocio.jpg"
        name="Rocío Dol"
        pepino="Un buen plan para mi sería: naturaleza ,buena comida y compañía. Mis
      perros mi debilidad y deseando estoy de volver a pisar un concierto.
      Soy libra de pies a cabeza!! un hobbie: cocinar, mi color favorito:
      morado"
        twitterLink=""
        linkedinLink=""
        githubLink=""
        mailLink="mailto:"
      >
      </include>
      <include
        class="patri"
        src="./who.html"
        imageLocation="./assets/images/pic_patricia.jpg"
        name="Patri Malvido"
        pepino="Siempre soy la rarita de los grupos,no tengo un color favorito,
        cualquiera que me recuerde al otoño me sirve (naranja,
        marrón,ocre,...) No soy fan del horóscopo y me encanta probar
        comidas nuevas y sorprender ¡a mi estómago!"
        twitterLink=""
        linkedinLink=""
        githubLink=""
        mailLink="mailto:"
      >
      </include>
      <include
        class="rosa"
        src="./who.html"
        imageLocation="./assets/images/pic_rosa.jpg"
        name="Rosa Donoso"
        pepino="Creo que lo que más me gusta en el mundo es aprender, cualquiera
      cosa de cualquier persona,también me chiflan las papelerías. Leer y
      escribir son otras de mis pasiones. Soy sagitario, pero sólo me creo
      las predicciones si me son favorables. Mi comida favorita, pfff. ¡El
      Buffet libre!"
        linkedinLink="https://www.linkedin.com/in/rosa-donoso-requena/"
        githubLink="https://github.com/Rouseta"
        mailLink="mailto:rosa.donoso.requena@outlook.de"
      >
      </include>
      <include
        class="ana"
        src="./who.html"
        imageLocation="./assets/images/pic_ana.jpg"
        name="Ana Jiménez"
        pepino="Como buena piscis, mi color favorito no podía ser otro que el azul.
        Además, ¿dónde voy a disfrutar más que en playa comiendo unos buenos
        espetos? Mi horóscopo manda"
        twitterLink=""
        linkedinLink=""
        githubLink=""
        mailLink="mailto:"
      >
      </include>
      <include
        class="elvi"
        src="./who.html"
        imageLocation="./assets/images/pic_elvira.jpg"
        name="Elvira Cañas"
        pepino="Sagitario hasta la médula, como buen signo de fuego mi color
      favorito es el rojo. ¿Comida favorita? sin duda el Morteruelo, plato
      típico de mi tierra, siempre recordando que soy conquense."
        twitterLink=""
        linkedinLink=""
        githubLink=""
        mailLink="mailto:"
      >
      </include>
    </div>
  </section>
</main>
