<main class="page-main">
  <section class="team">
    <h2 class="team-title">EQUIPO</h2>
    <p class="text">
      Somos un grupo majo de desarrolladoras con ganas de aprender
    </p>
    <p class="text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      veritatis architecto temporibus Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Obcaecati quos a deleniti.
    </p>
  </section>
  <div class="rectangle"></div>
  <section class="features">
    <article class="">
      <h3 class="title3">Fortalezas</h3>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
        doloremque exercitationem reiciendis, magnam quis vero, dicta fuga dolor
        veniam pariatur sit impedit consequatur! Incidunt, iusto maxime atque et
        aut optio
      </p>
    </article>
    <article>
      <h3 class="title3">Debilidades</h3>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
        doloremque exercitationem reiciendis, magnam quis vero, dicta fuga dolor
        veniam pariatur sit impedit consequatur! Incidunt, iusto maxime atque et
        aut optio
      </p>
    </article>
  </section>
  <section class="aboutus">
    <h2 class="team-title">QUIÉNES SOMOS</h2>
    <article class="who">
      <img src="./assets/images/pic_rocio.jpg" class="picture" />
      <h3 class="textname">Rocío Dols</h3>
      <p class="text">
        Un buen plan para mi sería: naturaleza ,buena comida y compañia. Mis
        perros mi debilidad y deseando estoy de volver a pisar un concierto. Soy
        libra de pies a cabeza!! un hobbie: cocinar, mi color favorito: morado
      </p>
      <div class="rrss-icons">
        <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i
                    class="fab fa-twitter"></i></a></div>·
        <div class="icon">
            <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </a>
        </div>·
        <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
        </div>·
        <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                    class="fas fa-envelope"></i></a>
        </div>
    </div>
    </article>
    <article class="who">
      <img src="./assets/images/pic_patricia.jpg" class="picture" />
      <h3 class="textname">Patri Malvido</h3>
      <p class="text">
        Siempre soy la rarita de los grupos,no tengo un color favorito,
        cualquiera que me recuerde al otoño me sirve (naranja, marrón,ocre,...)
        No soy fan del horóscopo y me encanta probar comidas nuevas y sorprender
        a mi estómago!
      </p>
      <div class="rrss-icons">
        <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i
                    class="fab fa-twitter"></i></a></div>·
        <div class="icon">
            <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </a>
        </div>·
        <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
        </div>·
        <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                    class="fas fa-envelope"></i></a>
        </div>
    </div>
    </article>
    <article class="who">
      <img src="./assets/images/pic_rosa.jpg" class="picture" />
      <h3 class="textname">Rosa Donoso</h3>
      <p class="text">
        Creo que lo que más me gusta en el mundo es aprender, cualquiera cosa de
        cualquier persona,también me chiflan las papelerías. Leer y escribir son
        otras de mis pasiones. Soy sagitario, pero sólo me creo las predicciones
        si me son favorables. Mi comida favorita, pfff ¡El Buffet libre!
      </p>
      <div class="rrss-icons">
        <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i
                    class="fab fa-twitter"></i></a></div>·
        <div class="icon">
            <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </a>
        </div>·
        <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
        </div>·
        <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                    class="fas fa-envelope"></i></a>
        </div>
    </div>
    </article>
    <article class="who">
      <img src="./assets/images/pic_ana.png" class="picture" />
      <h3 class="textname">Ana Jiménez</h3>
      <p class="text">
        Como buena piscis, mi color favorito no podía ser otro que el azul.
        Además, ¿dónde voy a disfrutar más que en playa comiendo unos buenos
        espetos? Mi horóscopo manda
      </p>
      <div class="rrss-icons">
        <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i
                    class="fab fa-twitter"></i></a></div>·
        <div class="icon">
            <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </a>
        </div>·
        <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
        </div>·
        <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                    class="fas fa-envelope"></i></a>
        </div>
    </div>
    </article>
    <article class="who">
      <img src="./assets/images/pic_elvira.jpg" class="picture" />
      <h3 class="textname">Elvira Cañas</h3>
      <p class="text">
        Sagitario hasta la médula, como buen signo de fuego mi color favorito es
        el rojo. ¿Comida favorita? sin duda el Morteruelo, plato típico de mi
        tierra, siempre recordando que soy conquense
      </p>
      <div class="rrss-icons">
        <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i
                    class="fab fa-twitter"></i></a></div>·
        <div class="icon">
            <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </a>
        </div>·
        <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
        </div>·
        <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                    class="fas fa-envelope"></i></a>
        </div>
    </div>
    </article>
  </section>
</main>