<main class="page-main">
  <section class="team" id="team">
    <h2 class="team-title">EQUIPO</h2>
    <p class="text">
      Esta historia empieza cuando 5 mujeres, 5 personalidades, 5 vidas distintas que ni soñaban con conocerse...
      teminan encontrándose. En el instante menos esperado, pero en el momento indicado.
    </p>
    <p class="text">
      Tenemos en común que aprendimos del pasado, vivimos el presente y estamos trabajando para nuestro futuro. Buscamos
      el éxito y eso ocurre cuando nuestros sueños son mas grandes que nuestras excusas.
    </p>
  </section>
  <div class="rectangle"></div>
  <section class="features">
    <article class="description strengh">
      <h3 class="title3">Fortalezas</h3>
      <p class="text">
        Ante un mismo problema siempre existen multiples soluciones. Pensamos sobre lo lejos que hemos llegado, no sobre
        lo que nos queda por andar. Somos valientes y emocionales. No estamos derrotadas porque... ¡aún no hemos dejamos
        de soñar!
      </p>
    </article>
    <article class="description weaknesses">
      <h3 class="title3">Debilidades</h3>
      <p class="text">
        Nuestra aventura acaba de arrancar. El primer paso no nos va a llevar a donde queremos ir, pero nos saca de
        donde estamos. Eso requiere constancia por cada una de nosotras, tenemos que trabajarlo todos los días.
      </p>
    </article>
  </section>
  <section class="aboutus" id="about-us">
    <h2 class="team-title">QUIÉNES SOMOS</h2>

    <div class="whos">
      <article class="who">
        <img src="./assets/images/pic_rocio.jpg" class="picture" />
        <div class="who-content">
          <h3 class="textname">Rocío Dols</h3>
          <p class="text">
            Un buen plan para mi sería: naturaleza ,buena comida y compañia. Mis
            perros mi debilidad y deseando estoy de volver a pisar un concierto. Soy
            libra de pies a cabeza!! un hobbie: cocinar, mi color favorito: morado
          </p>
          <div class="rrss-icons">
            <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i class="fab fa-twitter"></i></a>
            </div>·
            <div class="icon">
              <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </a>
            </div>·
            <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
            </div>·
            <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                  class="fas fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </article>

      <article class="who">
        <img src="./assets/images/pic_patricia.jpg" class="picture" />
        <div class="who-content">
          <h3 class="textname">Patri Malvido</h3>
          <p class="text">
            Siempre soy la rarita de los grupos,no tengo un color favorito,
            cualquiera que me recuerde al otoño me sirve (naranja, marrón,ocre,...)
            No soy fan del horóscopo y me encanta probar comidas nuevas y sorprender
            ¡a mi estómago!
          </p>
          <div class="rrss-icons">
            <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i class="fab fa-twitter"></i></a>
            </div>·
            <div class="icon">
              <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </a>
            </div>·
            <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
            </div>·
            <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                  class="fas fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </article>

      <article class="who">
        <img src="./assets/images/pic_rosa.jpg" class="picture" />
        <div class="who-content">
          <h3 class="textname">Rosa Donoso</h3>
          <p class="text">
            Creo que lo que más me gusta en el mundo es aprender, cualquiera cosa de
            cualquier persona,también me chiflan las papelerías. Leer y escribir son
            otras de mis pasiones. Soy sagitario, pero sólo me creo las predicciones
            si me son favorables. Mi comida favorita, pfff. ¡El Buffet libre!
          </p>
          <div class="rrss-icons">
            <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i class="fab fa-twitter"></i></a>
            </div>·
            <div class="icon">
              <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </a>
            </div>·
            <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
            </div>·
            <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                  class="fas fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </article>

      <article class="who">
        <img src="./assets/images/pic_ana.png" class="picture" />
        <div class="who-content">
          <h3 class="textname">Ana Jiménez</h3>
          <p class="text">
            Como buena piscis, mi color favorito no podía ser otro que el azul.
            Además, ¿dónde voy a disfrutar más que en playa comiendo unos buenos
            espetos? Mi horóscopo manda
          </p>
          <div class="rrss-icons">
            <div class="icon"><a href="https://twitter.com/Okia_02" target="_BLANK"><i class="fab fa-twitter"></i></a>
            </div>
            ·
            <div class="icon">
              <a href="">
                <a href="https://es.linkedin.com/in/ana-jim%C3%A9nez-melero-91270b224" target="_BLANK">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </a>
            </div>·
            <div class="icon"><a href="https://github.com/Okia02" target="_BLANK"><i class="fab fa-github-alt"></i></a>
            </div>·
            <div class="icon"><a href="mailto:anajimenezmelero@gmail.com" target="_BLANK"><i
                  class="fas fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </article>

      <article class="who">
        <img src="./assets/images/pic_elvira.jpg" class="picture" />
        <div class="who-content">
          <h3 class="textname">Elvira Cañas</h3>
          <p class="text">
            Sagitario hasta la médula, como buen signo de fuego mi color favorito es
            el rojo. ¿Comida favorita? sin duda el Morteruelo, plato típico de mi
            tierra, siempre recordando que soy conquense
          </p>
          <div class="rrss-icons">
            <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i class="fab fa-twitter"></i></a>
            </div>·
            <div class="icon">
              <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </a>
            </div>·
            <div class="icon"><a href="https://github.com/" target="_BLANK"><i class="fab fa-github-alt"></i></a>
            </div>·
            <div class="icon"><a href="mailto:elcorreoquequieres@correo.com" target="_BLANK"><i
                  class="fas fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</main>