<main class="container">
  <div class="columna-contacto">
    <section class="section-contact">
      <h1 class="title-contact">CONTACTO</h1>
      <p class="text-contact">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        debitis dolores maiores mollitia aut repellendus maxime, perferendis
        illum repudiandae ab corrupti sequi! Ipsum eius harum corporis sequi
        officiis, minima pariatur. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quis deleniti dolore dolorem dolorum? Veniam rem,
        eligendi commodi reprehenderit sunt tenetur officia est atque unde
        eaque temporibus. Similique rerum quisquam enim.</p>
      <p class="text--all">Todos los campos marcados con <span>*</span>son obligatorios.</p>

      <form action="" method="post" class="contact-form">
        <div class="form-name">
          <label for="firstname">
            Nombre Completo
            <span class="star">*</span>
          </label>
          <input class="formulario-box" type="text" id="name" name="name" placeholder="Nombre completo" required />
        </div>
        <div class="contact-email">
          <label for="email">
            E-mail
            <span>*</span>
          </label>
          <input class="formulario-box" type="email" id="email" name="email" placeholder="@email.com" required />
        </div>
        <div class="contact-phone">
          <label for="phone"> Phone </label>
          <input class="formulario-box" type="tel" id="tel" name="tel" placeholder="ex.: (+34) 654 123 456" />
        </div>
        <div class="contact-messaje">
          <label for="mensaje">
            Mensaje
            <span>*</span>
          </label>
          <textarea class="formulario-box contact-messaje" id="mensaje" rows="8" cols="25%"
            placeholder="¿Que necesitas?" required></textarea>
        </div>
        <div>
          <input class="formulario-box boton-formulario" type="submit" value="Enviar" />
        </div>
      </form>
    </section>
  </div>
</main>