<article class="who">
  <div><img class="who__image" src="@@imageLocation" /></div>

  <div class="who__content">
    <h3 class="who__content--textname">@@name</h3>
    <p class="who__content--text">@@pepino</p>
    <div class="who__content--rrss-icons">
      <div class="icon">
        <a href="@@twitterLink" target="_BLANK"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
      ·
      <div class="icon">
        <a href="">
          <a href="@@linkedinLink" target="_BLANK">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </a>
      </div>
      ·
      <div class="icon">
        <a href="@@githubLink" target="_BLANK"
          ><i class="fab fa-github-alt"></i
        ></a>
      </div>
      ·
      <div class="icon">
        <a href="@@mailLink" target="_BLANK"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
</article>
