.foto-contact {
  background-image: url("../images/image_contactMobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  @media all and (min-width: 768px) {
    background-image: url("../images/image_contactDesktop.jpg");
  }
}
.contact-main {
  padding: 0 15px;
  & .title-contact {
    @include titleMain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    @media (min-width: 768px) {
      font-size: 28px;
    }
  }
  & .text-contact {
    @include textMain;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 30px;
    @media (min-width: 768px) {
      padding: 0 163px 30px;
      font-size: 18px;
    }
    @media (min-width: 1200px) {
      padding: 0 300px 30px;
    }
  }
  & .small {
    font-size: 12px;
    color: $grey;
    @include openSans;
    text-align: center;
    padding-bottom: 58px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
}
span {
  @include asterisk;
}
.form {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  @media (min-width: 768px) {
    padding: 0 163px;
  }
  @media (min-width: 1200px) {
    padding: 0 300px;
  }
  & label {
    font-size: $smallFS;
    @include openSans;
    color: $grey;
    @media (min-width: 768px) {
      font-size: $avFS;
    }
  }
  & input {
    height: 45px;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 13px;
    border: 1px solid $coolGrey;
    padding-left: 15px;
  }
  ::placeholder {
    @include placeHoldText;
    @media (min-width: 768px) {
      font-size: $avFS;
    }
  }
  #email::placeholder {
    color: $grey;
    font-size: $avFS;
    @media (min-width: 768px) {
      font-size: $avPlusFS;
    }
  }
  & #textarea {
    width: 100%;
    height: 105px;
    margin-top: 7px;
    margin-bottom: 30px;
    border: 1px solid $coolGrey;
    padding-left: 15px;
  }
  & .send {
    width: 100%;
    height: 45px;
    margin-bottom: 60px;
    border-radius: 4px;
    color: $white;
    font-size: $avFS;
    background-color: $aqua;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.name {
  grid-column: 1/8;
}
.email {
  grid-column: 1/8;
}
.phone {
  grid-column: 1/8;
}
.message {
  grid-column: 1/8;
}
.send {
  grid-column: 1/8;
}
@media (min-width: 768px) {
  .name {
    grid-column: 1/8;
  }
  .email {
    grid-column: 1/8;
  }
  .phone {
    grid-column: 1/8;
  }
  .message {
    grid-column: 1/8;
  }
  .send {
    grid-column: 5/8;
  }
}
@media (min-width: 1200px) {
  .name {
    grid-column: 1/8;
  }
  .email {
    grid-column: 1/6;
  }
  .phone {
    grid-column: 6/8;
  }
  .message {
    grid-column: 1/8;
  }
  .send {
    grid-column: 5/8;
  }
}
