.columna-contacto {
  margin: auto 15px;
  @media (min-width: 768px) {
    margin: auto 163px;
  }
  @media (min-width: 1280px) {
    margin: auto 300px;
  }
}

.container {
  margin-top: 30px;
  margin-bottom: 60px;
}
.foto-contact {
  background-image: url("../images/image_contactMobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  @media all and (min-width: 768px) {
    background-image: url("../images/image_contactDesktop.jpg");
  }
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $titleFF,$textFF;
  &__title{
    @include titleMain;
    padding-bottom: 15px;
  }
  &__text{
    color: $grey;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 15px;
  }
  &__text-all {
    font-size: 12px;
    padding-bottom: 15px;
  } 
  &__form {
    margin-top: 58px;
    text-align: left;
    width: 100%;

    &--firstname {
        @include distributionForm;
    }
    &--email {
      @include distributionForm;
    }
    &--phone {
      @include distributionForm;
    }
    &--messaje {
      @include distributionForm;
      height: 105px;
      margin-top: 7px;
      text-indent: 10px;
      padding-top: 10px;
    }
    &--box {
      width: 100%;
      height: $titleLH;
      margin-top: 7px;
      margin-bottom: 13px;
      border: solid 1px $coolGrey;
      padding: 0;
      text-indent: 10px;
    }
    &--box-text {
      height: 105px;
      margin-top: 7px;
      text-indent: 10px;
      padding-top: 10px;
    }
    &--bottom{

      @include btnForm;
     
      @media (min-width: 768px) {
        margin-right: 0;
        margin-left: auto;
        width: 206px;
      }
    }
    ::placeholder {
      @include placeHoldText;
    }
  }

  @media (min-width: 1200px) {
    &__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      &--name {
        width: 100%;
      }
      &--email {
        width: 50%;
        margin-right: 45px;
      }
      &--phone {
        width: 25%;
        flex-grow: 1;
      }
      &--text {
        width: 100%;
      }
      &--bottom {
        margin-left: 0;
        margin-right: auto;
        width: 278px;
      }
    }
  }
}

.star {
  @include asterisk;
}