header {
  width: 100%;
  background-image: url("../images/bk_home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}
header > div.team-name {
  background-color: var(--blue-green);
  text-align: center;
  height: 60px;
}
.team-name h1 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height: 1.88;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
header .nav-bar ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px 0;
  background-color: var(--aqua);
  height: 45px;
}
header .nav-bar li {
  align-items: center;
  padding: 10px 5px;
  list-style: none;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
header .nav-bar li a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.slogan-image {
  max-width: 100%;
  width: 100%;
}
.slogan-title {
  color: black;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  position: relative;
  z-index: 1;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  transform: translateY(350px);
  height: 40px;
  padding: 5px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
<<<<<<< HEAD
}
@media all and (min-width: 768px) {
  .team-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .team-name .header-name {
    text-align: start;
    padding: 0;
  }
  .nav-bar .nav-list {
    background-color: transparent;
    padding: 0;
    height: auto;
  }
  .container-nav {
    display: flex;
  }
=======
}*/

@media all and (min-width: 768px) {
  .container-nav {
    display: flex;
  }
  .header-name {
    width: 80%;
    text-align: start;
  }

>>>>>>> 3af1660ccfe434a46ac3015d3ca1086c96c3c2cb
  .header-nav {
    background-color: #099d8d;
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    display: flex;
  }
  .menu-header-nav {
    width: 100%;
    padding-right: 50px;
    justify-content: space-around;
  }
}
