.header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}
.index-foto {
  background-image: url("../images/bk_home_mobile.jpg");
  @media all and (min-width: 768px) {
    background-image: url("../images/bk_home_big.jpg");
  }
}
.header .team-name {
  background-color: $blueGreen;
  text-align: center;
  height: 60px;
  opacity: 0.8;
position: fixed;
top: 0;
width: 100%;
}
.team-name .header-name {
  font-size: $avFS;
  text-align: center;
  color: $white;
  line-height: 1.88;
  padding: 15px;
  text-transform: uppercase;
  font-family: $titleFF;
  font-weight: 500;
}
.header .nav-bar .nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px 0;
  background-color: $aqua;
  height: 45px;
  align-items: center;
}
.header .nav-bar li {
  align-items: center;
  padding: 10px 5px;
  text-transform: uppercase;
  font-family: $titleFF;
  font-weight: 300;
}
.header .nav-bar .nav-item a {
  color: $white;
  text-decoration: none;
  padding: 0 10px;
}
.slogan-image {
  max-width: 100%;
  width: 100%;
}
.slogan-title {
  color: $black;
  font-family: $textFF;
  background-color: $white;
  position: relative;
  z-index: 1;
  font-size: $avPlusFS;
  margin-right: 15px;
  margin-left: 15px;
  transform: translateY(450px);
  height: 40px;
  padding: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
}
@media all and (min-width: 768px) {
  .team-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .team-name .header-name {
    text-align: start;
    padding: 0;
  }
  .nav-bar {
    padding-right: 45px;
  }
  .header .nav-list {
    background-color: $blueGreen !important;
  }
  .nav-bar .nav-list {
    padding: 0;
    height: auto;
  }
  .container-nav {
    display: flex;
  }
  .team-name .header-name {
    padding-left: 45px;
  }

  .slogan-title {
    width: 70%;
    opacity: 0.8;
    margin-left: 10%;
  }
}
