/* main styles */

.page-main {
  padding: 0 15px;
  background-color: #fff;
}
.team {
  transform: translateY(-10px);
  background-color: #fff;
}
.team-title {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  color: #14d9c4;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  padding-top: 46px;
  padding-bottom: 15px;
}
.rectangle {
  background-color: white;
  width: 30px;
  height: 30px;
  transform: translate(0, 53%) rotate(45deg);
  margin: auto;
}
.features {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #f1f1f1;
}

.title3 {
  text-align: center;
  color: #099d8d;
  padding-top: 30px;
  font-family: "Rubik", sans-serif;
  line-height: 45px;
  font-size: 22px;
}
.text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  color: #54585a;
  padding-bottom: 15px;
}

.who {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.who__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.who .textname {
  margin: 0px;
  padding: 0px;
}
.who .text {
  margin: 0px;
  padding: 0px;
}
.picture {
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  align-items: center;
}
.textname {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 45px;
  color: black;
  text-align: center;
}

.rrss-icons {
  color: #099d8d;
  width: 150px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  @media all and (min-width: 768px) {
    margin-left: 3em;
    margin-right: 4em;
  }
}
.rrss-icons a {
  color: #099d8d;
}

// .socialNetworks {
//   display: flex;
//   justify-content: space-around;
//   flex-direction: row;
//   background-color: red;
//   padding: 10px;
// }

.fab {
  color: #099d8d;
}
.fas {
  color: #099d8d;
}

@media all and (min-width: 768px) {
  .team {
    margin-right: 8rem;
    margin-left: 8rem;
  }
  .rectangle {
    transform: translate(46px, 50%) rotate(45deg);
  }
  .features {
    padding-bottom: 30px;
    display: flex;
  }
  .description {
    margin-left: 45px;
    margin-right: 45px;
  }
  .strengh {
    margin-right: 45px;
  }

  .whos {
    display: flex;
    flex-wrap: wrap;
  }
  .who {
    flex-direction: row;
  }

  /*PARA ALINEAR A LA DERECHA*/
  .who:nth-child(2n + 1) {
    align-items: flex-end;
    text-align: right;
  }
  .who:nth-child(2n + 1) .who-content {
    align-items: flex-end;
    margin-left: 100px;
  }
  .who:nth-child(2n + 1) .picture {
    order: 2;
    margin-right: 60px;
  }
  .who:nth-child(2n + 1) .textname {
    text-align: right;
    margin-right: 20px;
  }
  .who:nth-child(2n + 1) .text {
    text-align: right;
    margin-right: 20px;
  }
  .who:nth-child(2n + 1) .rrss-icons {
    text-align: right;
    margin-right: 20px;
  }
  /*PARA ALINEAR A LA IZQUIERDA*/
  .who:nth-child(2n) {
    align-items: flex-start;
    text-align: right;
  }
  .who:nth-child(2n) .who-content {
    align-items: flex-start;
    margin-right: 100px;
  }
  .who:nth-child(2n) .picture {
    order: 0;
    margin-left: 60px;
  }
  .who:nth-child(2n) .textname {
    margin-left: 20px;
    text-align: left;
  }
  .who:nth-child(2n) .text {
    text-align: left;
    margin-left: 20px;
  }
  .who:nth-child(2n) .rrss-icons {
    text-align: left;
    margin-left: 20px;
  }
}
