.team {
    transform: translateY(-10px);
    background-color: #fff;
  
    &__title {
      margin-top: 46px;
  
      text-align: center;
      color: #14d9c4;
      font-size: 24px;
      font-family: "Rubik", sans-serif;
      padding-top: 46px;
      padding-bottom: 15px;
    }
    &__text {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-family: "Open Sans", sans-serif;
      padding: 15px;
      color: #54585a;
      padding-bottom: 15px;
    }
}